In [1]:
import codecs
f=codecs.open("/Users/wittmann/Downloads/Netflix_A_N.html", 'r')
c = f.read()
f.close()

In [2]:
from bs4 import BeautifulSoup

def get_soup(filepath):
    f=codecs.open(filepath, 'r')
    c = f.read()
    f.close()
    soup = BeautifulSoup(c, 'html.parser')
    return soup

In [3]:
c[:555]

'<!DOCTYPE html>\n<!-- saved from url=(0048)https://www.netflix.com/browse/genre/34399?so=az -->\n<html lang="pt" class="js-focus-visible" data-js-focus-visible=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>Netflix</title><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="google" value="notranslate"><meta http-equiv="origin-trial" data-feature="Mute in Picture-in-Picture window" data-expires="2019-05-21" content="AlTswX7XZLgX4u/FK+tnvgmPsG33QKw859iCSrQXz+AJQ5MnpfL9suF1/Z5WeGFgSvYHbLQ8zYI'

In [4]:

soup = BeautifulSoup(c, 'html.parser')

In [5]:
all_a = soup.findAll("a")

In [6]:
all_names_html = [str(a) for a in all_a if 'aria-label' in str(a)]

In [7]:
all_names_html = []
for a in all_a:
    if 'aria-label' in a:
        print(a)

In [8]:
import re

def extract_re(pattern, array):
    return re.search(pattern, array).group(1)

TITLE_PATTERN = 'aria-label="(.*)" class="slider-refocus"'

In [9]:

def extract_from_html(all_names_html):
    movie_names = []

    for name in all_names_html:
        try:
            movie_names.append(extract_re(TITLE_PATTERN, name))
        except:
            pass
    return movie_names

In [11]:
TITLE_PATTERN = 'aria-label="(.*)" class="slider-refocus"'

def get_movie_names(html_path):
    print("get soup")
    soup = get_soup(html_path)
    print("Finding <a> tags")
    all_a = soup.findAll("a")
    print("Get all elements with aria-label subtag")
    all_names_html = [str(a) for a in all_a if 'aria-label' in str(a)]
    print("Extract name from html format")
    movie_names = extract_from_html(all_names_html)
       
    return movie_names

In [18]:
movie_names_a_z = get_movie_names("Netflix_A_Z.html")

get soup
Finding <a> tags
Get all elements with aria-label subtag
Extract name from html format

In [20]:
movie_names_z_a = get_movie_names("Netflix_Z_A.html")

get soup
Finding <a> tags
Get all elements with aria-label subtag
Extract name from html format

In [24]:
movie_names_z_a[:50]

['巨额来电',
 '최종병기 활',
 'Zulu Man in Japan',
 'Zozo',
 'The Zoya Factor',
 'Zokkomon',
 'Zoé: Panoramas',
 'Zipi &amp; Zape y la Isla del Capitan',
 'Zion',
 'Zinzana',
 'Zindagi Na Milegi Dobara',
 'Zero Hour',
 'Zero Dark Thirty',
 'Zero',
 'Zapped',
 'Zaki Chan',
 'Z Storm',
 'Yucatán',
 'Your Son',
 'Your Name',
 'Your Excellency',
 'The Young Vagabond',
 'The Young Offenders',
 'Young Nicholas',
 'Young &amp; Beautiful',
 "You've Got This",
 "You're Not You",
 "You're My Boss",
 "You're Everything To Me",
 'You Get Me',
 "You Don't Mess with the Zohan",
 'You Carry Me',
 'A Yellow Bird',
 'Yeh Ballet',
 'Ya no estoy aquí: Una conversación entre Guillermo del Toro y Alfonso Cuarón',
 'XXY',
 'XOXO',
 'X: Past Is Present',
 'X Large',
 'WWII: Report from the Aleutians',
 'The Wrong Missy',
 'Wounds',
 'The Worthy',
 'World War Z',
 'The World Is Yours',
 'World Famous Lover',
 'Work It',
 'Words, Maps, Secrets and Other Things',
 'Wonder Woman',
 'Women of Mafia 2']

In [23]:
movie_names_a_z[:50]

['¡Ay, mi madre!',
 '¿Cómo matar a un esposo muerto?',
 '#Alive',
 '#AnneFrank - Parallel Stories',
 '#cats_the_mewvie',
 '#FriendButMarried',
 '#FriendButMarried 2',
 '#realityhigh',
 '#Rucker50',
 '#Selfie',
 '#Selfie 69',
 '10 Days in Sun City',
 '10 jours en or',
 '10,000 B.C.',
 '100 Meters',
 '1000 Rupee Note',
 'The 101-Year-Old Man Who Skipped Out on the Bill and Disappeared',
 'The 11th Hour',
 '122',
 '13TH',
 '15 August',
 '18 Presents',
 '1898: Our Last Men in the Philippines',
 '1922',
 '2 Alone in Paris',
 '2 Fast 2 Furious',
 '2 Guns',
 '2 States',
 '22 July',
 '23:59',
 'The 24 Hour War',
 '26 Years',
 'A 2nd Chance',
 'A 3 Minute Hug',
 '3 Ninjas: Kick Back',
 '3 Türken &amp; ein Baby',
 '3:10 to Yuma',
 '30 Days of Luxury',
 '300',
 '300: Rise of an Empire',
 '365 Days',
 'The 36th Chamber of Shaolin',
 '37 Seconds',
 'The 3rd Eye',
 'The 3rd Eye 2',
 '48 Christmas Wishes',
 '4L',
 'The 4th Company',
 '4th Republic',
 '5 Flights Up']

In [26]:
movie_names = [set(movie_names_a_z + movie_names_z_a)]

In [27]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.c_[movie_names])

In [28]:
df

                                                   0
0  {Bombay Talkies, Omar and Salma 3, No One Kill...

In [29]:
type(movie_names)

list

In [30]:
type(movie_names[0])

set

In [31]:
movie_names = [m for m in movie_names[0]]

In [32]:
df = pd.DataFrame(movie_names, columns=['Title'])

In [33]:
df.sort_values('Title')

                              Title
1553                         #Alive
114   #AnneFrank - Parallel Stories
2639              #FriendButMarried
457             #FriendButMarried 2
153                       #Rucker50
...                             ...
1315                        Òlòtūré
1896                 İncir Reçeli 2
2690             İstanbul Kırmızısı
1815                           巨额来电
1188                         최종병기 활

[2986 rows x 1 columns]

## Get All Movie Ratings from Top 250 IMDb Movies
Source: https://github.com/WittmannF/imdb-tv-ratings

In [53]:
from bs4 import BeautifulSoup as BS
import requests
from time import sleep
import numpy as np
import re
import pandas as pd

URL = 'https://www.imdb.com/chart/top'
RE_KEY = 'href="/title/(.*)/" title='
RE_TITLE = '">(.*)</a>'
RE_YEAR = 'secondaryInfo">((.*))</span>'
RE_RATING = '<strong title="(.*) based on'
RE_NRATINGS = 'based on (.*) user ratings">'



def get_ratings(serie_code, season):
    URL = f'https://www.imdb.com/title/{serie_code}/episodes?season={season}'
    c = requests.get(URL).content
    soup = BS(c, 'html.parser')
    allrates = soup.findAll("div", { "class" : 'ipl-rating-star small' })
    ratings = [float(re.search('ipl-rating-star__rating">(.*)</span', str(ar)).group(1)) for ar in allrates]
    return ratings

def extract_re(code, array):
    return re.search(code, str(array)).group(1)


def get_soup(URL):
    headers = {"Accept-Language": "en-US,en;q=0.5"}
    c = requests.get(URL, headers=headers).content
    soup = BS(c, 'html.parser')
    return soup

def get_top_ratings(URL):
    print('Send request')
    soup = get_soup(URL)
    
    print('Create lists with html tags')
    key_title_year = soup.findAll("td", {"class": "titleColumn"})
    rating_and_count = soup.findAll("td", {"class": "ratingColumn imdbRating"})
    
    print('Extract info from html formatting')
    keys = [extract_re(RE_KEY, n) for n in key_title_year]
    titles = [extract_re(RE_TITLE, n) for n in key_title_year]
    ratings = [extract_re(RE_RATING, n) for n in rating_and_count]
    nratings = [extract_re(RE_NRATINGS, n) for n in rating_and_count]
    years = [extract_re(RE_YEAR, n).replace('(','').replace(')','') for n in key_title_year]
    
    print('Convert to a dataframe')
    df = pd.DataFrame(zip(titles, years, ratings, nratings), index=keys, columns=['Title', 'Year', 'Rating', 'Rating Count'])
    
    print('Done')
    return df

In [54]:
top_movies = get_top_ratings(URL)

Send request
Create lists with html tags
Extract info from html formatting
Convert to a dataframe
Done

In [50]:
#TOP_250 = 'https://raw.githubusercontent.com/WittmannF/imdb-tv-ratings/master/top-250-movie-ratings.csv'

In [51]:
#top_movies = pd.read_csv(TOP_250, index_col=0)

In [55]:
top_movies.head()

                              Title  Year Rating Rating Count
tt0111161  The Shawshank Redemption  1994    9.2    2,315,152
tt0068646             The Godfather  1972    9.1    1,598,551
tt0071562    The Godfather: Part II  1974    9.0    1,116,547
tt0468569           The Dark Knight  2008    9.0    2,277,620
tt0050083              12 Angry Men  1957    8.9      681,020

In [56]:
top_titles_set = set(top_movies['Title'].apply(lambda s: s.lower()).values)

In [57]:
top_titles_set

{'12 angry men',
 '12 years a slave',
 '1917',
 '2001: a space odyssey',
 '3 idiots',
 'a beautiful mind',
 'a clockwork orange',
 'a separation',
 'alien',
 'aliens',
 'all about eve',
 'amadeus',
 'american beauty',
 'american history x',
 'amores perros',
 'amélie',
 'anand',
 'andhadhun',
 'andrei rublev',
 'apocalypse now',
 'autumn sonata',
 'avengers: endgame',
 'avengers: infinity war',
 'back to the future',
 'barry lyndon',
 'batman begins',
 'before sunrise',
 'before sunset',
 'ben-hur',
 'bicycle thieves',
 'blade runner',
 'braveheart',
 'capernaum',
 'casablanca',
 'casino',
 'catch me if you can',
 'children of heaven',
 'chinatown',
 'cinema paradiso',
 'citizen kane',
 'city lights',
 'city of god',
 'coco',
 'come and see',
 'como estrelas na terra',
 'cool hand luke',
 'dangal',
 'das boot',
 'dead poets society',
 'dial m for murder',
 'die hard',
 'django unchained',
 'double indemnity',
 'downfall',
 'dr. strangelove or: how i learned to stop worrying and love the bomb',
 'drishyam',
 'eternal sunshine of the spotless mind',
 'fargo',
 'fight club',
 'finding nemo',
 'for a few dollars more',
 'ford v ferrari',
 'forrest gump',
 'full metal jacket',
 'gangs of wasseypur',
 'gladiator',
 'gone girl',
 'gone with the wind',
 'good will hunting',
 'goodfellas',
 'gran torino',
 'grave of the fireflies',
 'green book',
 "hachi: a dog's tale",
 'hacksaw ridge',
 'hamilton',
 'hara-kiri',
 'harry potter and the deathly hallows: part 2',
 'heat',
 'high and low',
 'hotel rwanda',
 'how to train your dragon',
 "howl's moving castle",
 'ikiru',
 'in the mood for love',
 'in the name of the father',
 'incendies',
 'inception',
 'indiana jones and the last crusade',
 'inglourious basterds',
 'inside out',
 'interstellar',
 'into the wild',
 'it happened one night',
 "it's a wonderful life",
 'joker',
 'judgment at nuremberg',
 'jurassic park',
 'kill bill: vol. 1',
 'klaus',
 'l.a. confidential',
 'la haine',
 'lawrence of arabia',
 'life is beautiful',
 'lock, stock and two smoking barrels',
 'logan',
 'léon: the professional',
 'm',
 'mad max: fury road',
 'mary and max',
 'memento',
 'memories of murder',
 'metropolis',
 'million dollar baby',
 'modern times',
 'monsters, inc.',
 'monty python and the holy grail',
 "monty python's life of brian",
 'mr. smith goes to washington',
 'my father and my son',
 'my neighbor totoro',
 'nausicaä of the valley of the wind',
 'network',
 'no country for old men',
 'north by northwest',
 'oldboy',
 'on the waterfront',
 'once upon a time in america',
 'once upon a time in the west',
 "one flew over the cuckoo's nest",
 "pan's labyrinth",
 'parasite',
 'paris, texas',
 'paths of glory',
 'persona',
 'pinte de açafrão',
 'platoon',
 'portrait of a lady on fire',
 'princess mononoke',
 'prisoners',
 'psycho',
 'pulp fiction',
 'raging bull',
 'raiders of the lost ark',
 'ran',
 'rashomon',
 'rear window',
 'rebecca',
 'requiem for a dream',
 'reservoir dogs',
 'rififi',
 'rocky',
 'room',
 'rush',
 'saving private ryan',
 'scarface',
 "schindler's list",
 'se7en',
 'seven samurai',
 'sherlock jr.',
 'shutter island',
 "singin' in the rain",
 'snatch',
 'some like it hot',
 'spider-man: into the spider-verse',
 'spirited away',
 'spotlight',
 'stalker',
 'stand by me',
 'star wars: episode iv - a new hope',
 'star wars: episode v - the empire strikes back',
 'star wars: episode vi - return of the jedi',
 'sunset blvd.',
 'tangerines',
 'taxi driver',
 'terminator 2: judgment day',
 'the 400 blows',
 'the apartment',
 'the bandit',
 'the battle of algiers',
 'the big lebowski',
 'the bridge on the river kwai',
 'the circus',
 'the dark knight',
 'the dark knight rises',
 'the deer hunter',
 'the departed',
 'the elephant man',
 'the general',
 'the godfather',
 'the godfather: part ii',
 'the gold rush',
 'the good, the bad and the ugly',
 'the grand budapest hotel',
 'the great dictator',
 'the great escape',
 'the green mile',
 'the handmaiden',
 'the help',
 'the hunt',
 'the intouchables',
 'the invisible guest',
 'the kid',
 'the lion king',
 'the lives of others',
 'the lord of the rings: the fellowship of the ring',
 'the lord of the rings: the return of the king',
 'the lord of the rings: the two towers',
 'the matrix',
 'the passion of joan of arc',
 'the pianist',
 'the prestige',
 'the princess bride',
 'the secret in their eyes',
 'the seventh seal',
 'the shawshank redemption',
 'the shining',
 'the silence of the lambs',
 'the sixth sense',
 'the sting',
 'the terminator',
 'the thing',
 'the third man',
 'the treasure of the sierra madre',
 'the truman show',
 'the usual suspects',
 'the wages of fear',
 'the wolf of wall street',
 'there will be blood',
 'three billboards outside ebbing, missouri',
 'time of the gypsies',
 'to be or not to be',
 'to kill a mockingbird',
 'tokyo story',
 'toy story',
 'toy story 3',
 'trainspotting',
 'unforgiven',
 'up',
 'v for vendetta',
 'vertigo',
 'vikram vedha',
 'wall·e',
 'warrior',
 'whiplash',
 'wild strawberries',
 'wild tales',
 'witness for the prosecution',
 'yojimbo',
 'your name.'}

In [58]:
netflix_titles_set = df['Title'].apply(lambda s: s.lower()).values

In [59]:
netflix_titles_set = set(netflix_titles_set)

In [60]:
imdb_cross_netflix_set = top_titles_set & netflix_titles_set

In [61]:
imdb_cross_netflix = top_movies[top_movies['Title'].apply(lambda s: s.lower()).isin(imdb_cross_netflix_set)]

In [62]:
imdb_cross_netflix

                                        Title  Year Rating Rating Count
tt0071562              The Godfather: Part II  1974    9.0    1,116,547
tt0468569                     The Dark Knight  2008    9.0    2,277,620
tt0108052                    Schindler's List  1993    8.9    1,200,803
tt0109830                        Forrest Gump  1994    8.8    1,785,031
tt1375666                           Inception  2010    8.7    2,040,215
tt0133093                          The Matrix  1999    8.6    1,656,763
tt0120815                 Saving Private Ryan  1998    8.5    1,222,019
tt0245429                       Spirited Away  2001    8.5      640,780
tt0120689                      The Green Mile  1999    8.5    1,132,619
tt0110413              Léon: The Professional  1994    8.5    1,023,630
tt0088763                  Back to the Future  1985    8.5    1,045,154
tt0054215                              Psycho  1960    8.5      598,067
tt0172495                           Gladiator  2000    8.5    1,326,950
tt0064116        Once Upon a Time in the West  1968    8.4      299,870
tt1853728                    Django Unchained  2012    8.4    1,340,212
tt7286456                               Joker  2019    8.4      905,840
tt0119698                   Princess Mononoke  1997    8.4      338,064
tt1345836               The Dark Knight Rises  2012    8.3    1,501,218
tt0169547                     American Beauty  1999    8.3    1,060,950
tt0361748                Inglourious Basterds  2009    8.3    1,251,063
tt5074352                              Dangal  2016    8.3      152,949
tt0075314                         Taxi Driver  1976    8.2      715,788
tt0097576  Indiana Jones and the Last Crusade  1989    8.2      686,034
tt0071853     Monty Python and the Holy Grail  1975    8.2      497,134
tt0372784                       Batman Begins  2005    8.2    1,295,602
tt0096283                  My Neighbor Totoro  1988    8.1      285,882
tt1130884                      Shutter Island  2010    8.1    1,115,146
tt0434409                      V for Vendetta  2005    8.1    1,023,642
tt0120382                     The Truman Show  1998    8.1      927,100
tt4729430                               Klaus  2019    8.1       83,021
tt2267998                           Gone Girl  2014    8.1      848,357
tt8108198                           Andhadhun  2018    8.1       69,401
tt0892769            How to Train Your Dragon  2010    8.1      660,109
tt1392190                  Mad Max: Fury Road  2015    8.1      870,787
tt0052618                             Ben-Hur  1959    8.1      217,429
tt0079470        Monty Python's Life of Brian  1979    8.0      363,965
tt0075148                               Rocky  1976    8.0      513,278
tt0087544  Nausicaä of the Valley of the Wind  1984    8.0      148,478
tt0032976                             Rebecca  1940    8.0      122,583
tt4857264                 The Invisible Guest  2016    8.0      135,012

In [63]:
imdb_cross_netflix['url'] = imdb_cross_netflix.index

/Users/wittmann/anaconda/envs/udacity-update/lib/python3.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [64]:
imdb_cross_netflix['url'] = imdb_cross_netflix['url'].apply(lambda s: "https://www.imdb.com/title/"+s)

/Users/wittmann/anaconda/envs/udacity-update/lib/python3.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [65]:
imdb_cross_netflix

,Title,Year,Rating,Rating Count,url
tt0071562,The Godfather: Part II,1974,9.0,"1,116,547",https://www.imdb.com/title/tt0071562
tt0468569,The Dark Knight,2008,9.0,"2,277,620",https://www.imdb.com/title/tt0468569
tt0108052,Schindler's List,1993,8.9,"1,200,803",https://www.imdb.com/title/tt0108052
tt0109830,Forrest Gump,1994,8.8,"1,785,031",https://www.imdb.com/title/tt0109830
tt1375666,Inception,2010,8.7,"2,040,215",https://www.imdb.com/title/tt1375666
tt0133093,The Matrix,1999,8.6,"1,656,763",https://www.imdb.com/title/tt0133093
tt0120815,Saving Private Ryan,1998,8.5,"1,222,019",https://www.imdb.com/title/tt0120815
tt0245429,Spirited Away,2001,8.5,"640,780",https://www.imdb.com/title/tt0245429
tt0120689,The Green Mile,1999,8.5,"1,132,619",https://www.imdb.com/title/tt0120689
tt0110413,Léon: The Professional,1994,8.5,"1,023,630",https://www.imdb.com/title/tt0110413
tt0088763,Back to the Future,1985,8.5,"1,045,154",https://www.imdb.com/title/tt0088763
tt0054215,Psycho,1960,8.5,"598,067",https://www.imdb.com/title/tt0054215
tt0172495,Gladiator,2000,8.5,"1,326,950",https://www.imdb.com/title/tt0172495
tt0064116,Once Upon a Time in the West,1968,8.4,"299,870",https://www.imdb.com/title/tt0064116
tt1853728,Django Unchained,2012,8.4,"1,340,212",https://www.imdb.com/title/tt1853728
tt7286456,Joker,2019,8.4,"905,840",https://www.imdb.com/title/tt7286456
tt0119698,Princess Mononoke,1997,8.4,"338,064",https://www.imdb.com/title/tt0119698
tt1345836,The Dark Knight Rises,2012,8.3,"1,501,218",https://www.imdb.com/title/tt1345836
tt0169547,American Beauty,1999,8.3,"1,060,950",https://www.imdb.com/title/tt0169547
tt0361748,Inglourious Basterds,2009,8.3,"1,251,063",https://www.imdb.com/title/tt0361748
tt5074352,Dangal,2016,8.3,"152,949",https://www.imdb.com/title/tt5074352
tt0075314,Taxi Driver,1976,8.2,"715,788",https://www.imdb.com/title/tt0075314
tt0097576,Indiana Jones and the Last Crusade,1989,8.2,"686,034",https://www.imdb.com/title/tt0097576
tt0071853,Monty Python and the Holy Grail,1975,8.2,"497,134",https://www.imdb.com/title/tt0071853
tt0372784,Batman Begins,2005,8.2,"1,295,602",https://www.imdb.com/title/tt0372784
tt0096283,My Neighbor Totoro,1988,8.1,"285,882",https://www.imdb.com/title/tt0096283
tt1130884,Shutter Island,2010,8.1,"1,115,146",https://www.imdb.com/title/tt1130884
tt0434409,V for Vendetta,2005,8.1,"1,023,642",https://www.imdb.com/title/tt0434409
tt0120382,The Truman Show,1998,8.1,"927,100",https://www.imdb.com/title/tt0120382
tt4729430,Klaus,2019,8.1,"83,021",https://www.imdb.com/title/tt4729430
tt2267998,Gone Girl,2014,8.1,"848,357",https://www.imdb.com/title/tt2267998
tt8108198,Andhadhun,2018,8.1,"69,401",https://www.imdb.com/title/tt8108198
tt0892769,How to Train Your Dragon,2010,8.1,"660,109",https://www.imdb.com/title/tt0892769
tt1392190,Mad Max: Fury Road,2015,8.1,"870,787",https://www.imdb.com/title/tt1392190
tt0052618,Ben-Hur,1959,8.1,"217,429",https://www.imdb.com/title/tt0052618
tt0079470,Monty Python's Life of Brian,1979,8.0,"363,965",https://www.imdb.com/title/tt0079470
tt0075148,Rocky,1976,8.0,"513,278",https://www.imdb.com/title/tt0075148
tt0087544,Nausicaä of the Valley of the Wind,1984,8.0,"148,478",https://www.imdb.com/title/tt0087544
tt0032976,Rebecca,1940,8.0,"122,583",https://www.imdb.com/title/tt0032976
tt4857264,The Invisible Guest,2016,8.0,"135,012",https://www.imdb.com/title/tt4857264

In [66]:
imdb_cross_netflix.to_csv('cross-imdb-netflix.csv')